@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Lato:ital,wght@0,100;1,400&family=Playfair+Display+SC&family=Playfair+Display:ital@1&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Lato:ital,wght@0,100;1,400&family=Playfair+Display+SC&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,400&family=Playfair+Display&family=Playfair+Display+SC&display=swap');
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
  background: 	rgb(255, 255, 255);
    animation-duration: 2s;

    /* background-image:linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img/pexels-cottonbro-6674132.jpg) ; */
    


   
  }
body p{

  color: #000000;
  font-family: 'Cormorant Garamond', serif;
}
@keyframes fadeout
{
  from{
    opacity: 0;
    transform: scale3d(.75,.75,1);
  }
  to {
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img/SCHOOL.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.seader {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img/book/libbbb.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.logo{
    display: flex;
    align-items: center;
}
.logo p{
    color: #fff5f5;
    font-size: 29px;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 10;
}
/* nav a img{
    width: 10%;
} */
nav img {
  width: 70px;
}

.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ff2600de;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 35px;
  color: #10b2e4;
  align-items: center;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: small;
    color: #10b2e4;
    align-items: center;
}
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 25px;
  color: aliceblue;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 12px 34px;
  font-size: 23px;
  font-family: "Times New Roman", Times, serif;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.sero-btn {
  align-items: left
  ;
  text-decoration: none;
  color: rgb(243, 8, 8);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 12px 34px;
  font-size: 23px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  
  position: relative;
  cursor: pointer;
  right:38%;
}
.eero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  width: 50%;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 23px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: rgba(32, 230, 6, 0.809);
  position: relative;
  cursor: pointer;
}
.eero-btn:hover {
  border: 1px solid#031b06;
  background: #ffffff;
  color: #0d3d0d;
  transition: 0.3s;
}
@media (max-width: 700px) {

  .sero-btn{
    position: relative;
    left: 20px;
  }
}

.sero-btn:hover {
  border: 1px solid#ffffff;
  background: #00ff08;
  transition: 0.5s;
  color: rgb(255, 255, 255);
}
.hero-btn:hover {
  border: 1px solid#f44336;
  background: #f44336;
  transition: 1s;
}
nav .fa {
  display: none;
}
.yes {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;

  background-size: cover;
}
.contact-us{
  width: 90%;
  margin: auto;
  
  border: solid 3px black;
  border-spacing: 2px;
  border-radius:10px;
  margin-bottom: 5%;
  align-items: center;
}
.contact-us :hover{
  text-shadow : #00baf8;
  cursor: pointer;
}
  .contact-col{
    flex-basis: 48%;
    margin-bottom: 7px;

  }
  .contact-col div{
    display: flex;
    align-items: center;
    margin-bottom:  70px; 
  }
  .contact-col div  .fa{
    font-size: 28px;
    color: #ff0000;
    margin: 10PX;
    margin-right: 30px;
  }
  .contact-col div p{
    padding: 0;
    text-align: left;
  } 
  .contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(218, 172, 172);
    font-weight: 400;
    text-align: left;
    
  }
  .contact-col input , .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
  
    border: solid 3px rgba(0, 0, 0, 0.891);
    border-radius: 10px;
  }
 
  @media (max-width: 700px) {
  form{
 
    margin-right: 9%;
    margin-top: 30%;
  }
  .contact-col input , .contact-col textarea{
    border: solid 3px rgba(0, 0, 0, 0.891);
    border-radius: 10px;
  }
}

.yes h1 {
align-items: center;
  text-align: center;
}
.yes p{
  font-size: 19px;
 
margin-top: 18%;
margin-left: 3%;
}
.msg {
  display: inline-flex;
  margin: auto;
   margin-top: 5%;
 
}
.msg img {
  width: 40%;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 60px;
  margin-left: 20px;
  margin-top: 5%;
 
}


@media (max-width: 700px) {
  .msg {
      
      border-radius: 10%;
      
    flex-wrap: wrap;
    
  }
  .msg img {
    align-items: center;
    margin-left: 30%;
    border-radius: 10px;
  }
  .yes p{
    border: solid 3px rgb(255, 255, 255) ;
    text-align: left;
    border-radius: 10px;
  }
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 30px;
    align-items: center;
  }
  nav{
  
   background-color: rgba(0, 0, 0, 0);

  }
  .nav-links ul li {
    display: block;
    
  }
  .nav-links {
    position: fixed;

    background: #01061d;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1.5s;
  }
  nav .fa {
    display: block;
    color: beige;
    font-size: 20px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}
.titleborder{
 display: flex;

  padding: 30px;
 

 
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.titleborder h2{
  align-items: left;
  text-align: left;
}
.titleborder i{
  margin-right: 3%;
  color: #ff0606;
  font-size: 30px;
}
.campus p{
   
  font-size: 18px;
  border: solid 2px rgb(255, 255, 255) ;
  text-align: left;
  border-radius: 10px;
}

/* value  */
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;

  background-size: cover;
}

p {
  color: black;
  font-family: 'Playfair Display', serif;
  font-weight: ;
  line-height: 22px;
  padding: 10px;
  font-size: 16px;
}
.row {
  margin: 5%;
  display: flex;
  justify-content: space-between;

  background-size: cover;
}
.course-col {
  flex-basis: 31%;
border:solid 2px rgb(10, 56, 56);
background: rgb(195, 224, 228);
  border-radius: 19px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0;
  color: #000000;
}
.course-col:hover {
  box-shadow: 0 0 20px 0px rgb(118, 85, 172);
  cursor: pointer;
}
@media (max-width: 700px) {
  .row {
   
    flex-direction: column;
  }
  .titleborder h2{
    
    font-size: large;
    align-items: left;
    text-align: left;
  }
  .campus {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
  }
  .campus p{
   
    font-size: 18px;
    border: solid 2px rgb(255, 255, 255) ;
    text-align: left;
    border-radius: 10px;
  }
}
/* not failities */
.campus {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  display: flexbox;

  flex-basis: 31%;
}

.campus-col {
  flex-basis: 32%;
 
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img {
  width: 300%;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}
.layer:hover {
  background: #ff00bf54;
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transform: 1s;
}
.layer:hover h3 {
  bottom: 30%;
  opacity: 1;
}
/* ----facilities----  */
.facilities {
  width: 95%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.facilities p{
  margin-top: 5%;
font-size: 20px;


}
.facilities h1{
  
}

.facilities-col {
  flex-basis: 24%;
background: rgba(176, 207, 209, 0.823);
  border:solid 2px rgb(63, 165, 202);;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 10px 5px;
  box-sizing: border-box;
  transition: 0.5s;
}
.facilities-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.782);
  cursor: pointer;
}
.facilities-col p {
  padding: 0;
  margin-top: 5%;
}
.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: center;
}
/* elibrary  */
.cta {
  margin: 30px auto 30px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/book/elibra.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 300px 0;
}
.cta {
  color: #dbf0f7;
  margin-bottom: 0px;
}

.cta p {

  color: #dbf0f7;
}
.subr{
  align-items: center;
  text-align: center;
}
.location{
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe{
  width: 100%;
}
/* /* ----footer---  */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.734);
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 25px;
  color: #dbf0f7;
}
.icon {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.footer p {
  color: #ffffff;
  font-size: large;
}
.ecourse-col img {
  width: 100%;
}
.ecourse-col {
  flex-basis: 31%;
  background: #688077;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  flex-wrap: wrap;
}
.ecourse-col:hover {
  box-shadow: 0 0 20px 0px rgb(255, 255, 255);
  cursor: pointer;
}
/* ----------------------------------------------DEMO----------------------------- */
.cody {
    box-sizing: border-box;
     
    margin:0;
   
}

.mySlides {
  margin-top: 5%;
    display: none
}
.mySlides img {
    vertical-align: middle;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 30px;
}

/* Slideshow container */

.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.mySlides 

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 19px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 37%;
  font-weight: 100;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #ff0000;
}

/* Fading animation */
.fade {
  -webkit-animation-name: slide;
  -webkit-animation-duration: 1.5s;
  animation-name: slide;
  animation-duration: 1.5s;
}
.fade img {
    max-width: 999px;}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
.dot{
 height: 10px;
  width: 10px;
}

@media only screen and (max-width: 500px) {
  .prev, .next,.text {font-size: 14px}
}
/* ==============================team=========================== */
}


.body{
  font-family: tahoma;
  height: 00vh;
  background-image: url(https://picsum.photos/g/3000/2000);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #c5d6e2;
  text-align: center;
  overflow: hidden;
  position: relative;
border-radius: 10px;  
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color:  #13ce9698;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #13ce9698;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #13ce9698;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}

















/* ==============================team=========================== */
